@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.aboutDiv {
    /* background-image: linear-gradient(lightgrey, white, lightgrey); */
    
    background-color: white;
    height: 87vh;
}


.profileLeft {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.avatar {
    width: 300px;
    height: 150px;
}

.profileRight {
    width: 60%;
}

.profileName {
    margin-bottom: 3vh;
    font-weight: bold;
}

.profileCard {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

h2, h3, p {
    text-align: left;
    letter-spacing: 1px;
}
h3 {
    font-weight: normal;
}

li {
    font-size: 19px;
    letter-spacing: 1px;
}

.Collapsible {
    animation: 1s ease-out 0s 1 slideInFromRight;
    height: 50vh;
}

.Education, .Skills, .Resume, .Hobby {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.Education h3 {
    margin-bottom: 3vh;
}
.Education p {
    margin-bottom: 1vh;
    font-size: 15px;
}

.skillTitle {
    font-weight: bold;
}

.Resume p {
    font-size: 13px;
    margin-bottom: 0;
}

/* .collapseHeader {
    font-weight: bold;
    font-size: 300px;
} */

.skillTitle {
    text-align: center;
    margin-bottom: 2vh;
}

.SkillsFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .profileCard {
        display: flex;
        flex-direction: column;
    }

    .profileLeft {
        width: 100%;
        border-right: none;
        z-index: 1;
    }

    .profileRight {
        width: 100%;
        text-align: left;
    }

    .SkillsFlex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
