@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.aboutDiv {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background-color: white;
    height: 84vh;
}

.aboutTitle {
    margin-top: 3vh;
}

.profileCard {
    margin-left: auto;
    margin-right: auto;
}