.mainHome {
    /* background: url("./images/background/background-code.png"); */
    background-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase {
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.showcase h1 {
    font-size: 64px;
    color: white;
    text-align: center;
    font-weight: normal;
    letter-spacing: 3px;
}

.showcase h2 {
    font-size: 28px;
    color: white;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 4px;
}

.showcase p {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.showcase_btn-projects {
    border: white solid 1px;
    background-color: transparent;
    color: white;
    padding: 10px 50px;
    margin: 0 20px;
    cursor: pointer;
}

.showcase_btn-about {
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    padding: 10px 50px;
    margin: 0 20px;
    cursor: pointer;
}

.link-projects {
    color: white;
}

.link-about {
    color: black;
}

.showcase_btn-projects:hover, .showcase_btn-about:hover {
    background-color: rgba(255, 255, 255, 0.6);
}