.mainHome {
    background-image: linear-gradient(lightgray, white, lightgray);
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background-color: white;
    height: 87vh;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.showcase {
    /* max-width: 800px; */
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.navbar {
    background-color: black;
    color: white;
}

.showcase h1 {
    font-size: 64px;
    color: black;
    text-align: center;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.showcase h2 {
    font-size: 28px;
    color: black;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 4px;
}

.showcase p {
    color: black;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    
}

.showcase_btn-projects {
    width: 200px;
    height: 50px;
    border: black solid 1px;
    background-color: transparent;
    color: black;
    margin: 0 20px;
    cursor: pointer;
}

.showcase_btn-about {
    width: 200px;
    height: 50px;
    border: black solid 1px;
    background-color: transparent;
    color: black;
    padding: 10px 50px;
    margin: 0 20px;
    cursor: pointer;
}

.link-projects {
    color: black;
}

.link-about {
    color: black;
}

.showcase_btn-projects:hover, .showcase_btn-about:hover {
    font-weight: bold;
}