* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.loader {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    position: absolute;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    margin-left: 50px;
}

.logo h4 {
    margin-left: 10px;
    letter-spacing: 3px;
    font-weight: lighter;
}

.navlinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    font-size: 20px;
}

.link {
    letter-spacing: 3px;
    font-weight: lighter;
}

.link a {
    color: rgba(255, 255, 255, 0.7);
}

.link a:hover {
    color: rgba(255, 255, 255, 1);
}

.hamburger-toggle {
    cursor: pointer;
    color: white;
    display: none;
    margin-right: 30px;
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .hamburger-toggle {
        display: block;
    }
    .navlinks {
        position: absolute;
        right: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 92vh;
        align-items: center;
        top: 7vh;
        background-color: black;
        font-size: 32px;
        transform: translateX(100%);
    }

    .active {
        transform: translateX(0%);
        transition: transform 0.3s ease-in;
    }
}

h1 {
    font-size: 64px;
    color: white;
    font-weight: normal;
    letter-spacing: 3px;
}

h2 {
    font-size: 28px;
    color: white;
    font-weight: lighter;
    letter-spacing: 4px;
}

p {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 50px;
}