body {
    background-color: white;
}

.mainProjects {
    /* background: url("./images/background/background-code.png"); */
    background-color: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.projectTitle {
    margin-top: 3vh;
    margin-left: 3vw;
}

.projectsDiv {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.div_project {
    margin-bottom: 3vh;
}

.projectsLeft {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 50%;
    text-align: center;
}

.projectsRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.project_description {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project_title {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
    font-weight: normal;
}

.project_year {
    width: 30%;
    text-align: right;
}

img {
    height: 60vh;
    min-height: 375px;
    max-height: 600px;
}

.carousel_project {
    margin-top: 3vh;
    width: 40vw;
    min-width: 250px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.div_projectButton {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.button_project {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100px;
    z-index: 1;
}

@media screen and (max-width: 900px) {
    .projectsDiv {
        display: block;
    }
    .projectsLeft {
        width: 100%;
        border-right: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

    .projectsRight {
        width: 100%;
        text-align: center;
    }
}