body {
    background-color: white;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mainProjects {
    /* background: url("./images/background/background-code.png"); */
    background-color: white;
    height: 84vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.projectTitle {
    margin-top: 3vh;
    margin-left: 30px;
}

.projectsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    width: 100%;
}

.div_project {
    margin-bottom: 2vh;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.projectsLeft {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 800px;
    text-align: center;
}

.projectsRight {
    animation: 0.5s ease-out 0s 1 slideInFromRight;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 800px;
    text-align: center;
}

.project_description {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project_title {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
    font-weight: normal;
}

.project_year {
    width: 30%;
    text-align: right;
}

img {
    height: 60vh;
    min-height: 375px;
    max-height: 600px;
}

.carousel_project {
    margin-top: 3vh;
    width: 40vw;
    min-width: 250px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.div_projectButton {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.button_project {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100px;
    z-index: 1;
}

@media screen and (max-width: 900px) {
    .projectsDiv {
        display: block;
    }
    .projectsLeft {
        width: 100%;
        border-right: none;
        z-index: 1;
    }

    .projectsRight {
        width: 100%;
        text-align: center;
    }
}