body {
    background-color: black;
}

.mainProjects {
    /* background: url("./images/background/background-code.png"); */
    background-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
}

.project_description {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project_title {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    font-weight: normal;
}

.project_year {
    width: 50%;
    text-align: right;
}

img {
    height: 800px;
}

.carousel_project {
    margin-top: 3vh;
    width: 80vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.div_projectButton {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.button_project {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100px;
}
